name: Data Pipeline CI

# 1. QUAND lancer l'action ?
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

# 2. QUOI faire ?
jobs:
  test:
    name: Run Tests with uv
    runs-on: ubuntu-latest  # Utilise une machine Linux virtuelle

    steps:
    # A. Récupérer ton code
    - name: Checkout code
      uses: actions/checkout@v4

    # B. Installer uv (notre gestionnaire de paquets)
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.12"
        enable-cache: true

    # C. Installer les bibliothèques (pandas, pytest, etc.)
    - name: Install dependencies
      run: uv sync

    # D. Lancer les tests !
    - name: Run Pytest
      run: uv run pytest tests/ -v